<!-- <p>login works!</p> -->
<div class="login ">

  <form   [formGroup]="loginForm" class="w-50 m-auto p-5" (ngSubmit)="submitLogin" >
    <p class="form-title text-center fw-bold fs-3">Sign in to your account</p>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label fs-5 ">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@gmail.com" aria-describedby="emailHelp">
      <div class="alert alert-danger my-1 p-0" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
        <p  *ngIf="loginForm.get('email')?.getError('required')">email is required</p>
        <p  *ngIf="loginForm.get('email')?.getError('email')">email is invalid </p>

      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fs-5">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
      <div class="alert alert-danger my-1 p-0" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
        <p  *ngIf="loginForm.get('password')?.getError('required')">password is required</p>
        <p  *ngIf="loginForm.get('password')?.getError('pattern')"> password must start with uppercase </p>


      </div>
    </div>

    <button  type="submit" class="btn btn-primary w-100 fs-5" routerLink="/dashboard" > Sign in</button>
    <p class="signup-link text-center my-5">
      No account?
      <a routerLink="/register">Sign up</a>
    </p>
  </form>

</div>
