
 <div class=" aside_container h-100"   >

   <div class="logo_content d-flex justify-content-center align-items-center my-5">
     <i class="fa-regular fa-square fs-2 px-2 logo"></i>
     <h2>TaskMinder</h2>
     </div>

     <div class="aside_content d-flex flex-column justify-content-between">

       <div class="aside_menue">
       <div class="aside_item d-flex justify-content-center align-items-center w-75 m-auto text-center p-2 rounded-2 my-5">
         <i class="fa-solid fa-shapes mx-2"></i>
         Dashboard
       </div>


       <div class="aside_item d-flex justify-content-center align-items-center w-75 m-auto text-center p-2 rounded-2 my-5">

         <i class="fa-regular fa-clone mx-2"></i>
         Projects
         </div>

         <div class="aside_item d-flex active justify-content-center align-items-center w-75 m-auto text-center p-2 rounded-2 my-5">

           <i class="fa-solid fa-list-check mx-2"></i>
           Tasks
         </div>

         <div class="aside_item d-flex justify-content-center align-items-center w-75 m-auto text-center p-2 rounded-2 my-5">
           <!-- <i class="fa-solid fa-shapes mx-3"></i> -->
           <i class="fa-regular fa-calendar mx-2"></i>
           Calender
           </div>
           </div>


     </div>


    </div>
    <div class="logout_box">
     <div class="aside_item logout d-flex justify-content-center align-items-center w-75 m-auto text-center p-2 rounded-2 mb-5" (click)="logout()">
       <i class="fa-solid fa-reply mx-3"></i>
      logout
     </div>
    </div>
